@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bitcount+Grid+Single:wght@100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Lexend+Deca:wght@100..900&family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-image: url('https://img.freepik.com/vetores-gratis/fundo-de-padrao-de-pizza-desenhado-a-mao_23-2150905263.jpg?semt=ais_hybrid&w=740&q=80'); /* caminho da imagem */
  background-size: cover;      /* cobre toda a tela */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat;/* evita repetição */
}

h1 {
  margin-top: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

form label {
  align-self: flex-start;
  color: #fff;
}

p {
  color: #fff;
  font-size: 12px;
}

a {
  color: #fff;
  font-size: 12px;
}

.error {
  color: red;
}

button {
  margin-top: 15px;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ee9b57;
  color: #fff;
}

button:hover {
  background-color: #df8615;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

button.finalizar {
  background-color: #b9d48b;
}