@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bitcount+Grid+Single:wght@100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Lexend+Deca:wght@100..900&family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-image: url('https://storage.googleapis.com/mytour-prod/blog/1687878015795_shutterstock-795649972-jpg.jpeg'); /* caminho da imagem */
  background-size: cover;      /* cobre toda a tela */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat;/* evita repetição */
}

header {
  background-color: #f5f5f5;
  padding: 15px;
}

h1 {
  color: #fff;
  padding: 10px;
}

.pizzariaContainer {
  margin-top: 50px;
  background-color: #f9f9f9;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.pizzariaContainer:hover {
  background-color: #e3e3d1;
}